<h1>Mes projets</h1>


<% @my_projects.each do |x| %>
<%= x.name %>
<br>
<%= x.description %>
<br>
<%= x.objective %>
<br>
<%= x.id %>

<% if x.progress == 3 %>
<%= "Terminé" %>
<% end %>

<% if x.progress == 2 %>
<%= "En cours" %>
<% end %>

<% if x.progress == 1 %>
<%= "Disponible" %>
<% end %>

<%= link_to 'Terminer', update_progress_path(x.id), method: :update_progress if x.progress < 3%>

<br>

<img src=<%= x.picture %>>

<br>
<%= x.category %>
<% end %>
