<h1>Mes projets</h1>


<% @my_projects.each do |x| %>
<%= x.name %>
<br>
<%= x.description %>
<br>
<%= x.objective %>
<br>

<% if x.progress = 1 %>
<%= "Disponible" %>
<% elsif x.progress = 2 %>
<%= "En cours" %>
<% elsif x.progress = 3 %>
<%= "Terminé" %>
<% end %>
<br>
<img src=<%= x.picture %> class="card-img-top" alt="projet">
<br>
<%= x.category %>
<% end %>
