<p id="notice"><%= notice %></p>


  <tbody>

<div class="row justify-content-center">

    <% @projects.each do |project| %>
      <div class="d-flex flex-wrap justify-content-center pt-4" style="width: 18rem;">
          <div class="card m-1">
          <img src=<%= project.picture %> class="card-img-top" alt="projet">
          <div class="card-body">
            <h5 class="card-title"><%= project.name %></h5>
            <h6> Catégories : <%= project.category %></h6>
            <p class="card-text"><%= project.description[0..500] %></p>
            <%= link_to 'Show', project %>
            <%= link_to 'Edit', edit_project_path(project) %>
            <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      </div>
    <% end %>

</div>

<br>

<%= link_to 'New Project', new_project_path %>
