<tbody>

<div class="row justify-content-center">

    <% @projects.each do |project| %>
      <div class="d-flex flex-wrap justify-content-center pt-4" style="width: 18rem;">
          <div class="card m-1">
          <div class="card-img-top mt-3 text-center">
            <%= cl_image_tag( project.picture , width: 250, height: 200, crop: :fill)  %>

          </div>
          <div class="card-body">
            <h5 class="card-title"><%= project.name %></h5>
            <h6> Catégories : <%= project.category %></h6>
            <p class="card-text"><%= project.description[0..500] %></p>
            <div class="text-center">
            <%= link_to '', project , class: "fa fa-search btn btn-sm btn-outline-secondary btn-circle btn-lg"%>
            <%= link_to '', edit_project_path(project), class: " far fa-edit btn-sm btn btn-outline-secondary btn-circle btn-lg" %>
            <%= link_to '', project, method: :delete, data: { confirm: 'Are you sure?' }, class: "fa fa-trash btn-sm btn btn-outline-secondary btn-circle btn-lg" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

</div>
<br>
