<%= render 'formsearch', project: @project %>
<p class="list-counter">Number in list <%= @count %>/<%= @count_tt %></p>

<div class="uk-card index-card-container">
  <% @projects.each do |project| %>
    <% if project.progress == 3 %>
      <div class="uk-card uk-card-default done">
    <% else %>
      <div class="uk-card uk-card-default">
    <% end %>
    <%= link_to project_imageindex_for(project), project_path(project) %>
            <div class="uk-card uk-card-body">
              <h3 class="uk-card uk-card-title"><%= link_to project.name, project_path(project) %></h3>
              <h6> Company : <%= project.creator.entreprise_name %></h6>
              <p><%= project.description[0..100] %></p>
              <p class="uk-card uk-card-category">Category: <%= project.category %></p>

              <% if project.progress == 2 && (current_user != project.work.speaker)  %>
             <div class="booked-icon" >
             <i class="far fa-heart"> Booked</i>
             </div>
             <% end %>
             <div class="modif-buttons">
                  <%= link_to '', edit_project_path(project), class: " far fa-edit btn-sm btn btn-outline-secondary btn-circle btn-lg" if project.creator_id == current_user.id && project.progress < 3 %>

                  <%= link_to '', project, method: :delete, data: { confirm: 'Are you sure?' }, class: "fa fa-trash btn-sm btn btn-outline-secondary btn-circle btn-lg"  if project.creator_id == current_user.id && project.progress < 3 %>

                  <% if project.work.nil? == false %>
                  <% if current_user == project.work.speaker %>
                  <i class="current-user-book far fa-check-circle"></i>
                  <% end %>
                  <% end %>
            </div>
            </div>            
        </div>
    <% end %>
  </div>
