
<br>
<div class="text-center">
  <%= link_to ' Edit', edit_project_path(@project), class: "far fa-edit btn btn-outline-secondary btn-circle btn-lg"  if @project.creator_id == current_user.id %>
  <%= link_to ' Participe', project_works_path(@project), method: :create, class: "  far fa-plus-square btn btn-outline-secondary btn-circle btn-lg" if (@project.progress <= 1 && @project.creator_id != current_user.id && @project.work != @project.id) %>
  <%= link_to ' Cancel', project_work_path(@project, current_user), method: :delete, class: "  far fa-plus-square btn btn-outline-secondary btn-circle btn-lg" if (@project.progress == 2 && @project.work.speaker_id == current_user.id) %>
 </div>
<p id="notice"><%= notice %></p>
<br>
<div class="row">
  <div class="col-md-6" >
    <h1>
      <strong><%= @project.name %></strong>
    </h1>
    <h5>
      <strong>Category:</strong>
      <%= @project.category %>
    </h5>
    <h5>
      <strong>Objective:</strong>
      <%= @project.objective %>
    </h5>
  </div>
    <div class="col-md-3">
      <%= project_image_for(@project) %>
    </div>
</div>

    <br>
    <p>
      <strong>Description:</strong>
      <%= @project.description %>
    </p>
    <br>
    <p>
    <strong>Contact:</strong>
    <%= @project.creator.first_name %> <%= @project.creator.last_name %> <em> <%= @project.creator.entreprise_name %></em>
         <%= mail_to @project.creator.email, @project.creator.email, subject: "À propos de votre projet #{@project.name}", body: "Bonjour, je voudrais plus d'informations à propos de votre projet : #{@project.name} \n\n Se rendre sur la page du projet : #{request.original_url}" %>
   </p>
<!-- TEMP SPEAKER ID -->
   <br>
   <p>
      <% if @project.work.present? %>
      <strong>Contributor:</strong>
       <%= @project.work.speaker.first_name %> <%= @project.work.speaker.last_name %>
      <% else %>
        <%= "Projet non reservé" %>
        <% end %>
      </p>
<% logo = `<span class="far fa-edit"></span>` %>

